/* *******************Gereneral Formatting***************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

/* ****************Ubuntu is a free alternative font similar to Cocogoose*************** */
h1 {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  list-style-type: none;
}

/* **************Global Variables****************** */

:root {
  --light-ash-color: #d3d3de;
  --dark-ash-color: #272a31;
  --dark-orange-color: #ec5242;
}

/* ************************Utilities**************************** */

/* Background Colors */
.bg-dark-orange {
  background-color: var(--dark-orange-color);
}

.bg-light-ash {
  background-color: var(--light-ash-color);
}

.bg-dark-ash {
  background-color: var(--dark-ash-color);
}

/* Colors */
.text-dark-orange {
  color: var(--dark-orange-color);
}

.text-light-ash {
  color: var(--light-ash-color);
}

.text-dark-ash {
  color: var(--dark-ash-color);
}

.navigation-social-container {
  position: relative;
  background-color: var(--dark-ash-color);
  width: 100%;
  height: 40px;
}

.nav-social {
  width: 45%;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 50px;
  height: 40px;
  background-color: lightgray;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}

.nav-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.menu-position {
  position: absolute;
  left: 5px;
  top: -4%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100px;
}

.nav-social ul li {
  margin: 0 10px;
}

a:hover {
  text-decoration: none;
  text-decoration-color: var(--bg-dark-orange);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.computer-container-hello {
  height: 30vh;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(39, 42, 49, 0.8),
      rgba(211, 211, 222, 0.8)
    ),
    url(../images/computer-image.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-left: 5%;
  box-sizing: border-box;
}

.computer-container-hello h1 {
  font-size: 35px;
  font-weight: 400;
  padding: 0 10px;
  box-sizing: border-box;
}

.container-AfDev-Summit {
  min-height: auto;
  background-image:
    linear-gradient(
      to left top,
      rgba(247, 247, 247, 0.8),
      rgba(211, 211, 222, 0.8)
    ),
    url(../images/house-image.jpg);
  background-size: cover;
  background-position: center;
}

.container-AfDev-Summit div {
  padding: 0 5%;
  font-size: 20px;
  box-sizing: border-box;
}

.welcome-text h1,
.welcome-text h2 {
  font-size: 30px;
}

.text-width-discription {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.main-mobile-program {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: auto;
  padding: 0 5%;
  box-sizing: border-box;
  background-color: var(--dark-ash-color);
}

.main-cont-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.main-cont-wrapper h6 {
  font-size: 30px;
}

.hide-bl-400 {
  display: none;
}

.hide-bl-500 {
  display: none;
}

.border-p {
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

.underline-main {
  width: 6%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.flags-1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.lecture-items {
  display: flex;
  justify-content: space-around;
  height: auto;
  align-items: center;
  width: 95%;
  margin: 5px;
  background-color: var(--light-ash-color);
  border-radius: 5px;
  padding-left: 5px;
  box-sizing: border-box;
}

.m-program {
  height: auto;
  padding-bottom: 25px;
}

.date-afdev p {
  margin-bottom: 0;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.attend-summit {
  display: flex;
  margin: 0 auto;
  height: 100px;
  width: 80%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.image-container-trail {
  position: relative;
  height: 250px;
  margin-left: 20px;
}

.image-dotted {
  width: 120px;
  height: 120px;
  padding: 10px;
  box-sizing: border-box;
}

.image-dan {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 15%;
  left: 30px;
}

.feature-flex-1 {
  display: flex;
  justify-content: space-between;
}

.text-jens {
  margin-left: 80px;
}

.footer-1 {
  height: auto;
}

.partner-names {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  padding-bottom: 15px;
}

.ft-mr {
  margin-left: 10px;
}

.center-item {
  margin: 0 auto;
  display: flex;
  height: 40px;
  justify-content: center;
}

.center-item h6 {
  font-size: 25px;
}

.partner-names p:hover {
  color: var(--dark-orange-color);
}

/* Desktop and Other Devices */
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .ubuntu {
      font-size: 23px;
      padding-top: 3px;
    }

    .computer-container-hello h1 {
      font-size: 30px;
      font-weight: 300;
      padding: 0 10px;
      box-sizing: border-box;
    }

    .footer-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      height: 90px;
      box-sizing: border-box;
    }
  }

  .desktop-hide {
    display: none;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }

  .rounded-logo {
    border: 2px solid gray;
    border-radius: 100%;
  }

  .logo-container {
    padding-left: 1%;
    width: 30%;
    box-sizing: border-box;
    display: inline-block;
  }

  .navigation-links-container {
    width: 67%;
  }

  .navigation-links-container li a {
    color: #777;
  }

  .nav-wrapper .navigation-links-container ul {
    display: flex;
    margin-right: 10%;
    justify-content: space-around;
    align-items: center;
    height: 60px;
  }

  .border-AfDev {
    border: 2px solid var(--dark-orange-color);
    padding: 4px;
    box-sizing: border-box;
  }

  .computer-container-hello {
    height: 35vh;
    background-image:
      linear-gradient(
        to right bottom,
        rgba(39, 42, 49, 0.8),
        rgba(211, 211, 222, 0.8)
      ),
      url(../images/computer-image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-left: 20%;
    box-sizing: border-box;
  }

  .computer-container-hello h1 {
    font-size: 65px;
    font-weight: 600;
  }

  .container-AfDev-Summit {
    height: auto;
    background-image:
      linear-gradient(
        to left top,
        rgba(247, 247, 247, 0.8),
        rgba(211, 211, 222, 0.8)
      ),
      url(../images/house-image.jpg);
    background-size: cover;
    background-position: center;
  }

  .container-AfDev-Summit div {
    padding-left: 20%;
    box-sizing: border-box;
  }

  .welcome-text {
    display: flex;
    flex-direction: column;
  }

  .main-program {
    min-height: 75vh;
    display: flex;
    align-items: center;
  }

  .AfDev-logo {
    display: inline-block;
    border-radius: 100%;
    padding: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    border: 3px solid gray;
  }

  .summit-2020 {
    display: block;
    margin-left: 18%;
    margin-top: -10px;
  }

  .text-width-discription {
    width: 65%;
    padding: 15px;
  }

  .border-p {
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .container-75 {
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
  }

  .row-1 {
    display: flex;
  }

  .flags {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
  }

  .center-item {
    margin: 0 auto;
    display: flex;
    height: 50px;
    justify-content: center;
  }

  .center-item h6 {
    font-size: 30px;
  }

  .featured-speakers-flex {
    display: flex;
    width: 55%;
    justify-content: space-between;
    height: auto;
  }

  .featured-speakers-container {
    width: 70%;
    margin: 0 auto;
  }

  .speaker-img-container {
    position: relative;
    display: flex;
    width: 250px;
    margin: 10px;
  }

  .backgrd-img {
    width: 70px;
    height: 70px;
  }

  .front-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .div-trail-1 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;
  }

  .speaker-text p {
    width: 100%;
  }

  .partner-names {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    height: auto;
  }

  .partner-names p:hover {
    color: var(--dark-orange-color);
  }

  .summit-footer {
    margin-left: 5px;
    padding-top: 3px;
    box-sizing: border-box;
  }

  .lecture-items-wrapper {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    align-items: center;
  }

  /* ****** lecture-items is a child of lecture-items-wrapper ***** */
  .lecture-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 40%;
    align-items: center;
    margin: 5px;
    background-color: var(--light-ash-color);
    border-radius: 5px;
    padding: 7px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 767px) {
  @media only screen and (max-width: 330) {
    .hide-bl-400 {
      display: none;
    }

    .partner-names p {
      padding: 0 5px;
    }

    .AfDev-logo {
      margin-top: 3px;
    }
  }

  @media only screen and (min-width: 300) and (max-width: 500px) {
    .hide-bl-500 {
      display: none;
    }
  }

  .mobile-hide {
    display: none;
  }

  .ubuntu {
    margin-left: 15%;
    margin-bottom: 5%;
  }

  .computer-container-hello {
    padding-left: 3%;
    box-sizing: border-box;
    width: 100%;
  }

  .computer-container-hello h1 {
    font-size: 35px;
    font-weight: 400;
  }

  .AfDev-logo {
    display: inline-block;
    border-radius: 100%;
    padding: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    border: 3px solid gray;
  }

  .summit-2020 {
    display: block;
    margin-left: 18%;
    margin-top: -10px;
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 120px;
    box-sizing: border-box;
  }
}
